In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

In [15]:
#  1. Get the total rides for each city type

city_ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
city_driver_count = pyber_data_df.groupby(["type"]).count()["driver_count"]
city_fare_count = pyber_data_df.groupby(["type"]).count()["fare"]
display(city_ride_count)
display(city_driver_count)
city_fare_count

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

type
Rural        125
Suburban     625
Urban       1625
Name: driver_count, dtype: int64

type
Rural        125
Suburban     625
Urban       1625
Name: fare, dtype: int64

In [30]:
#city_summary_df = pd.DataFrame({
 #   "city_ride_count": ride_id,
  #  "city_driver_count": diver_count,
   # "city_fare_count": fare})
#city_summary_df
ride_id = len(pyber_data_df["ride_id"].unique())
#diver_count = len(pyber_data_df["diver"].unique())
#fare = len(pyber_data_df["fare"].unique())

city_summary_df = pd.DataFrame({
    "city_ride_count": ride_id,
   #"city_driver_count": diver_count,
   # "city_fare_count": fare})
city_summary_df

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_31728/4196121287.py, line 14)

In [13]:
# 2. Get the total drivers for each city type
driver_count = pyber_data_df.groupby(["city"]).mean()["driver_count"]
driver_count.head()

city
Amandaburgh      12.0
Barajasview      26.0
Barronchester    11.0
Bethanyland      22.0
Bradshawfurt      7.0
Name: driver_count, dtype: float64

In [ ]:
#  3. Get the total amount of fares for each city type
fare_sum = pyber_data_df.groupby(["city"]).mean()["fare"]
urban_avg_fare.head()

In [ ]:
#  4. Get the average fare per ride for each city type. 
suburban_avg_fare = suburban_cities_df.groupby(["city"]).mean()["fare"]
suburban_avg_fare.head()

In [ ]:
# 5. Get the average fare per driver for each city type. 
rural_avg_fare = rural_cities_df.groupby(["city"]).mean()["fare"]
rural_avg_fare.head()

In [ ]:
#  6. Create a PyBer summary DataFrame.

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')